<?xml version="1.0" encoding="UTF-8"?>
<beans>
    <bean id="userDao" class="com.potato.spring.framework.beans.UserDAO"/>

    <bean id="user" class="com.potato.spring.framework.beans.User">
        <property name="uId" value="10001"/>
        <property name="userDao" ref="userDao"/>
    </bean>
</beans>