<?xml version="1.0" encoding="UTF-8"?>
<beans>
    <bean id="user" class="com.potato.spring.framework.beans.User" scope="prototype">
        <property name="uId" value="10001"/>
        <property name="company" value="goodix"/>
        <property name="location" value="shenyang"/>
        <property name="userDao" ref="proxyUserDao"/>
    </bean>

    <bean id="proxyUserDao" class="com.potato.spring.framework.beans.ProxyBeanFactory"/>
</beans>